<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:4%;">#</th>
      <th style="width:10%;">Status</th>
      <th>Group</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></td>
      <td><span class="label label-success">Active</span></td>
      <td><span class="label label-default">pubserv</span></td>
      <td>show_articles_tab</td>
      <td style="color: #777;">Show the articles tab</td>
    </tr>
    <tr>
      <td><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></td>
      <td><span class="label label-warning">disabled</span></td>
      <td><span class="label label-default">pubserv</span></td>
      <td>show_articles_tab</td>
      <td style="color: #777;">Show the articles tab</td>
    </tr>
  </tbody>
</table>
