<form role="form" action="/create" method="post">
  <div class="form-group">
    <label for="name">Feature name</label>
    <input type="text" id="name" class="form-control" placeholder="Text input" name="feature[name]">
    <span class="help-block">Use a feature_name without spaces.</span>
  </div>
  <div class="form-group">
    <label for="group">Group</label>
    <input type="text" id="group" class="form-control" placeholder="Group" name="feature[group]">
    <span class="help-block">Insert the group, as ex pubserv, shunter.</span>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" class="form-control" placeholder="Group" name="feature[description]">
    <span class="help-block">Describe the feature.</span>
  </div>
  <input type="hidden" id="type" class="form-control" placeholder="Group" name="feature[type]" value="boolean">
  <input type="hidden" id="value" class="form-control" placeholder="Group" name="feature[value]" value="false">
  <button type="submit" class="btn btn-default">Submit</button>
</form>
