<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/docs">Documentation</a></li>
  <li><a href="/docs/api">API</a></li>
  <li class="active"><%= current_title %></li>
</ol>

