<%== partial :_breadcrumb, { current_title: 'Create a New Group' } %>

<h2>Create a New Group</h2>

<form role="form" action="/create/group" method="post">
  <div class="form-group">
    <label for="group[name]">Group Name</label>
    <input type="text" class="form-control" id="group_name" name="group[name]" />
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>
