<%== partial :_breadcrumb, { current_title: 'Create a New Feature' } %>

<h2>Create a New Feature</h2>

<div class="container" style="padding-bottom:15px">
  <div class="pull-right">
    <a class="btn btn-default" href="/new/group" role="button"><span class="fa fa-plus"></span> add a group</a>
  </div>
</div>

<%== partial :_feature_form, { action: '/create/feature', method: :create } %>
